[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
isort = "*"
flake8 = "*"
pylint = "*"
pytest-cov = "*"
pytest-console-scripts = "*"
pytest-timeout = "*"
tabulate = "*"
pytest-html = "*"
snakeviz = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
