[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==23.7.0"
coverage = "==7.3.0"
isort = "==5.12.0"
flake8 = "==6.1.0"
flake8-bugbear = "==23.7.10"
flake8-bandit = "==4.1.1"
mypy = "==1.5.1"
pdoc3 = "==0.10.0"
pre-commit = "==3.3.3"
project-summarizer = "==0.5.0"
py = "==1.11.0"
pylint = "==2.17.5"
pylint-utils = "==0.5.0"
pyroma = "==4.2"
pytest = "==7.4.0"
pytest-cov = "==4.1.0"
pytest-console-scripts = "==1.4.1"
pytest-timeout = "==2.1.0"
pytest-html = "==4.0.0"
pytest-xdist = "==3.3.1"
setuptools = "==68.1.2"
snakeviz = "==2.2.0"
sourcery = "==1.8.0"
twine = "==4.0.2"
types-pyyaml = "*"

[packages]
columnar = ">=1.4.0"
application-properties = ">=0.8.1"
typing-extensions = ">=4.7.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
