[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
isort = "*"
flake8 = "*"
pylint = "*"
pytest-cov = "*"
pytest-console-scripts = "*"
pytest-timeout = "*"
tabulate = "*"
pytest-html = "*"
snakeviz = "*"
typing-extensions = "*"
typed-ast = "==1.4.2"
columnar = "*"
twine = "*"
setuptools = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
pytest=pytest
