site_name: PyMarkdown Linter (PyMarkdownLnt)
# site_url: http://127.0.0.1:8000/
site_description: Documentation for the PyMarkdown Linter project.
site_author: Jack De Winter
theme: readthedocs
# repo_url: https://github.com/jackdewinter/pymarkdown
docs_dir: src
site_dir: site
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [..]
          options:
            docstring_style: google
            docstring_section_style: list
            members_order: source
            show_source: false
            group_by_category: false
            show_symbol_type_heading: true
            show_root_heading: true
            show_root_full_path: true
            show_category_heading: false
            relative_crossrefs: true
            signature_crossrefs: false

nav:
  - "Introduction":
    - 'index.md'
    - 'getting-started.md'
  - "User Guide":
    - 'user-guide.md'
    - 'advanced_configuration.md'
    - 'advanced_extensions.md'
    - 'advanced_plugins.md'
    - 'advanced_pre-commit.md'
  - "Extensions & Rules":
    - extensions.md
    - rules.md
  - "Devloper Guide":
    - 'api.md'
    - "API Listing": api/pymarkdownapi.md
    - 'development.md'
  - "Usual Project Stuff":
    - 'usual.md'
    - 'contribute.md'
    - "Changelog" : changelog.md
    - "Frequently Asked Questions": faq.md
not_in_nav: |
  /plugins/*
  /extensions/*
markdown_extensions:
  - toc:
      permalink: "#"
  - codehilite:
      linenums: true
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
theme:
  name: material
  navigation_depth: 5
